-
  date_formatted = moment.unix(date).locale(language).format(date_format);
  due_date_formatted = (due_days && !isNaN(due_days)) ? moment.unix(date).add(due_days, 'day').locale(language).format(date_format) : date_formatted;

  total = (total/100).toFixed(2);
  subtotal = (subtotal/100).toFixed(2);
  tax_percent = tax_percent || 0;

  lines.data.forEach(line => {
    line.price = (line.type == 'subscription') ? (line.plan.amount/100).toFixed(2) : (line.amount/100).toFixed(2);
    line.amount = (line.amount/100).toFixed(2);
  });
doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    each sheet in css
      link(rel='stylesheet', href=sheet, type='text/css')
  body.invoice-content
    .row.invoice-body
      .columns
        .row.pb-15.plr-10
          .columns.small-8
            h1.title
              | #{company_name}
          .columns.small-4.invoice
            | #{label_invoice}
        .row.pb-15.plr-10
          .columns.small-4.pr-10
            .row
              .columns.strong
                | #{label_payable_to}
            .row
              .columns
                | #{company_name}
            .row
              .columns
                | #{company_address}
            .row
              .columns
                if company_floor
                  | #{company_floor}
            .row
              .columns
                | #{company_city} #{company_zipcode}
            .row
              .columns
                | #{company_country}
            .row
              .columns
                | #{company_phone}
            .row
              .columns
                | #{company_mail}
          .columns.small-4
            .row
              .columns.strong
                | #{label_bill_to}
            .row
              .columns
                | #{client_company_name}
            .row
              .columns
                | #{client_company_address}
            .row
              .columns
                | #{client_company_city} #{client_company_zipcode}
            .row
              .columns
                | #{client_company_country}
          .columns.small-2
            .row
              .columns.text-right
                | #{label_invoice_number}
            .row
              .columns.text-right
                | #{label_date_of_issue}
            .row
              .columns.text-right
                | #{label_date_due}
          .columns.small-invoice-body-13
            .row
              .columns.text-right.strong #{number}
            .row
              .columns.text-right.strong #{date_formatted}
            .row
              .columns.text-right.strong September 14, 2018
        .row.pb-15.plr-10
          .columns.small-invoice-body-19
            h1.title
              if currency_position_before
                | #{currency_symbol}
                | #{total}&nbsp
              if !currency_position_before
                | #{total}&nbsp
                | #{currency_symbol}
              | #{label_due}
              | #{due_date_formatted}
        .row.pb-15
          .columns
            .row.item-header
              .small-7.columns.component-title #{label_description}
              .small-1.columns.component-title.text-center #{label_qty}
              .small-2.columns.component-title.text-right #{label_price}
              .small-2.columns.component-title.text-right #{label_total}
            each line in lines.data
              .row.item-padding
                .small-12.columns.period
                  | #{moment.unix(line.period.start).locale(language).format(date_format)}
                  | #{label_to}
                  | #{moment.unix(line.period.end).locale(language).format(date_format)}
              .row.item
                .small-7.columns #{line.plan.nickname || 'Item description'}
                .small-1.columns.text-center #{line.quantity}
                .small-2.columns.text-right
                  if currency_position_before
                    | #{currency_symbol}
                  | #{line.price}
                  if !currency_position_before
                    | #{currency_symbol}
                .small-2.columns.text-right
                  if currency_position_before
                    | #{currency_symbol}
                  | #{line.amount}
                  if !currency_position_before
                    | #{currency_symbol}
            .row
              .small-offset-8.small-4.columns
                .row.item-subtotal
                  .small-6.columns.text-right.item-text #{label_subtotal}
                  .small-6.columns.text-right.item-text
                    if currency_position_before
                      | #{currency_symbol}
                    | #{subtotal}
                    if !currency_position_before
                      | #{currency_symbol}
                if (client_company_country !== 'CA')
                  .row.item-vat
                    .small-6.columns.text-right.item-text #{label_vat}
                    .small-6.columns.text-right.item-text #{tax_percent}%
                if (client_company_country == 'CA' && invoice_pst)
                  .row.item-vat
                    .small-6.columns.text-right.item-text #{label_invoice_pst}
                    .small-6.columns.text-right.item-text #{invoice_pst}%
                if (client_company_country == 'CA' && invoice_gst)
                  .row.item-vat
                    .small-6.columns.text-right.item-text #{label_invoice_gst}
                    .small-6.columns.text-right.item-text #{invoice_gst}%
                if (client_company_country == 'CA' && invoice_hst)
                  .row.item-vat
                    .small-6.columns.text-right.item-text #{label_invoice_hst}
                    .small-6.columns.text-right.item-text #{invoice_hst}%
                .row.item-total
                  .small-6.columns.text-right.item-text #{label_total}
                  .small-6.columns.text-right.item-text
                    if currency_position_before
                      | #{currency_symbol}
                    | #{total}
                    if !currency_position_before
                      | #{currency_symbol}
    .row.footer.plr-10
      .columns
        .row
          .small-9.columns
            .row
              .columns.strong
                | #{company_name}
            .row
              .columns
                | #{company_address}
            .row
              .columns
                | #{company_city} #{company_zipcode}
            .row
              .columns
                | #{company_country}
          .small-3.columns
            if gst
              .row
                .columns.strong
                  | #{label_gst}
              .row
                .columns
                  | #{gst}
            if pst
              .row
                .columns.strong
                  | #{label_pst}
              .row
                .columns
                  | #{pst}
        .row.pt-10
          .small-12
            .strong.inline Questions?&nbsp
            Contact Cloud Horizon Technologies at support@vacationtracker.io or call at +1 514-316-8391.
